---
import FootnoteSlideOver from '../../components/FootnoteSlideOver';
import Pauri from '../../components/Pauri.astro';
import Layout from '../../layouts/Layout.astro';
import { fetchFootnoteContent } from '../../helpers/fetchFootnoteContent';

export const getStaticPaths = async () => {
  const API_URL = import.meta.env.API_URL;

  const getChapterIds = async (bookId) => {
    const res = await fetch(`${API_URL}/books/${bookId}/chapters.json`);
    const { chapters } = await res.json();

    return chapters.map((chapter) => chapter.id);
  };

  const getAllChapterIds = async (bookIds) => {
    // const chapterIds = await Promise.all(bookIds.map((bookId) => getChapterIds(bookId)));
    // return chapterIds.flat();
    return [1, 2]; // Return only one chapter for now
  };

  const bookIds = [1]; // Only one book for now
  const chapterIds = await getAllChapterIds(bookIds);

  return chapterIds.map((id) => ({ params: { id } }));
};

/**
 * Fetch content for the chapter
 */
const { id } = Astro.params;

const API_URL = import.meta.env.API_URL;

const chapterContentRes = await fetch(`${API_URL}/chapters/${id}/content.json`);
const { chapter } = await chapterContentRes.json();

/**
 * Fetch footnotes for each Pauri and Tuk
 */
const footnotePromises = [];

for (const chhand of chapter.chhands) {
  for (const pauri of chhand.pauris) {
    if (pauri.footnote?.contentfulEntryId) {
      const promise = fetchFootnoteContent(pauri.footnote.contentfulEntryId).then(
        (customFootnotes) => {
          pauri.footnote.customFootnotes = customFootnotes;
        }
      );
      footnotePromises.push(promise);
    }
    for (const tuk of pauri.tuks) {
      if (tuk.footnote?.contentfulEntryId) {
        const promise = fetchFootnoteContent(tuk.footnote.contentfulEntryId).then(
          (customFootnotes) => {
            tuk.footnote.customFootnotes = customFootnotes;
          }
        );
        footnotePromises.push(promise);
      }
    }
  }
}

await Promise.all(footnotePromises);
---

<Layout title={`SPG - Chapter ${chapter.number} - ${chapter.title}`}>
  <div class="flex w-full justify-center">
    <div class="my-3 lg:max-w-7xl flex flex-col items-center">
      <h1 class="italic font-serif py-2 text-xl font-semibold text-center">
        {chapter.title}
      </h1>
      <h2 class="font-serif py-2 font-medium text-center">
        Chapter #{chapter.number} of {chapter.book?.enTitle}
      </h2>
    </div>
  </div>

  <div class="flex w-full justify-center">
    <div class="my-3 lg:max-w-7xl flex flex-col items-center">
      <h3 class="font-serif py-2 font-medium text-center">
        {chapter.chhands.length} Chhands
      </h3>
    </div>
  </div>

  <div class="my-20 flex flex-col lg:max-w-3xl">
    {
      chapter.chhands.map((chhand) => {
        return (
          <div>
            <h3 class="font-serif text-xl text-gray-700">{chhand.name}</h3>
            {chhand.pauris.map((pauri) => (
              <div class="mb-10 text-left">
                <Pauri pauri={pauri} />
              </div>
            ))}
          </div>
        );
      })
    }
  </div>

  <FootnoteSlideOver client:load />
</Layout>
