---
import HighlightedTuk from './HighlightedTuk.svelte';
import type { Pauri, Tuk } from '../types/appTypes';
import ViewPauriFootnoteButton from './ViewPauriFootnoteButton.svelte';
import PauriWithTukTranslations from './PauriWithTukTranslations.astro';
import { toGurmukhiNumber } from '../helpers/gurmukhiUtils';

export interface Props {
  pauri: Pauri;
}

const { pauri } = Astro.props;
const hasPauriTranslation = pauri.translation?.enTranslation;
const hasPauriFootnote = pauri.footnote !== null;
---

<>
  {
    hasPauriTranslation ? (
      <div class="py-4">
        {pauri.tuks.map((tuk: Tuk, index) => {
          const hasTukFootnote =
            tuk.footnote?.bhaiVirSinghFootnote || tuk.footnote?.customFootnotes;
          const isLastTuk = index + 1 === pauri.tuks.length;

          return (
            <div class="py-2">
              {hasTukFootnote ? (
                <HighlightedTuk
                  tuk={tuk}
                  isLastTuk={isLastTuk}
                  pauriNumber={pauri.number}
                  client:visible
                />
              ) : (
                <p class="leading-8 text-xl md:text-2xl font-medium">
                  {tuk.content}
                  <span class="whitespace-nowrap">
                    &nbsp;{isLastTuk ? `рее${toGurmukhiNumber(pauri.number)}рее` : 'ред'}
                  </span>
                </p>
              )}
            </div>
          );
        })}
        {pauri.translation && (
          <p class="leading-8 text-lg md:text-xl font-serif text-accent">
            {pauri.translation?.enTranslation}
            <span> ||{pauri.number}||</span>
          </p>
        )}

        {hasPauriFootnote && <ViewPauriFootnoteButton pauri={pauri} client:visible />}
      </div>
    ) : (
      <PauriWithTukTranslations pauri={pauri} />
    )
  }
</>
