---
import HighlightedTuk from "./HighlightedTuk.svelte";
import { Pauri, Tuk } from "../types/appTypes";
import ViewPauriFootnoteButton from "./ViewPauriFootnoteButton.svelte";
import PauriWithTukTranslations from "./PauriWithTukTranslations.astro";

export interface Props {
  pauri: Pauri;
}

const { pauri } = Astro.props;
const hasPauriTranslation = pauri.translation?.enTranslation;
const hasPauriFootnote = pauri.footnote !== null;
---

<>
  {
    hasPauriTranslation ? (
      <div class="py-4">
        {pauri.tuks.map((tuk: Tuk, index) => {
          const hasTukFootnote = tuk.drVirSinghFootnote || tuk.footnote;
          const isLastTuk = index + 1 === pauri.tuks.length;

          console.log("isLastTuk", isLastTuk);

          return (
            <div class="py-2">
              {hasTukFootnote ? (
                <HighlightedTuk
                  tuk={tuk}
                  isLastTuk={isLastTuk}
                  pauriNumber={pauri.number}
                  client:visible
                />
              ) : (
                <p class="leading-8 text-xl font-medium">
                  {tuk.content}
                  <span class="whitespace-nowrap">
                    &nbsp;{isLastTuk ? `рее${pauri.number}рее` : "ред"}
                  </span>
                </p>
              )}
            </div>
          );
        })}
        {pauri.translation && (
          <p class="leading-8 text-lg italic font-sans">
            {pauri.translation?.enTranslation}
            <span>||{pauri.number}||</span>
          </p>
        )}

        {hasPauriFootnote && <ViewPauriFootnoteButton pauri={pauri} client:visible />}
      </div>
    ) : (
      <PauriWithTukTranslations pauri={pauri} />
    )
  }
</>
