---
import HighlightedTuk from './HighlightedTuk.svelte';
import type { Pauri, Tuk } from '../types/appTypes';
import ViewPauriFootnoteButton from './ViewPauriFootnoteButton.svelte';
import { toGurmukhiNumber } from '../helpers/gurmukhiUtils';

export interface Props {
  pauri: Pauri;
}

const { pauri } = Astro.props;

const hasAnyTranslation = (pauri.translation || pauri.tuks[0].translation) !== null;
const tukPaddingValue = hasAnyTranslation ? 8 : 4;
const hasPauriFootnote = pauri.footnote !== null;
---

<>
  {
    pauri.tuks.map((tuk: Tuk, index) => {
      const hasTukFootnote = tuk.footnote?.bhaiVirSinghFootnote || tuk.footnote?.customFootnotes;
      const isLastTuk = index + 1 === pauri.tuks.length;
      return (
        <div class={`py-${tukPaddingValue}`}>
          {hasTukFootnote ? (
            <HighlightedTuk
              tuk={tuk}
              isLastTuk={isLastTuk}
              pauriNumber={pauri.number}
              client:visible
            />
          ) : (
            <>
              <p class="leading-8 text-xl md:text-2xl font-medium text-base-content">
                {tuk.content}
                <span>{isLastTuk ? ` рее${toGurmukhiNumber(pauri.number)}рее` : ' ред'}</span>
              </p>
            </>
          )}
          {tuk.translation && (
            <p class="leading-8 text-lg md:text-xl font-serif text-accent">
              {tuk.translation?.enTranslation}
              <span>{isLastTuk && ` ||${pauri.number}||`}</span>
            </p>
          )}

          {hasPauriFootnote && isLastTuk && (
            <ViewPauriFootnoteButton pauri={pauri} client:visible />
          )}
        </div>
      );
    })
  }
</>
