---
import ChapterPreview from "../../components/ChapterPreview.astro";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;

export function getStaticPaths() {
  return [
    // Book IDs
    { params: { id: 1 } },
    { params: { id: 2 } },
    { params: { id: 3 } },
  ];
}

const API_URL = "https://tangy-mice-marry-198-54-132-72.loca.lt";

// Fetch Book
const bookRes = await fetch(`${API_URL}/api/v1/books`);
let data;
data = await bookRes.json();
const book = data.books.find((b) => b.id == id);

// Fetch Chapters for the Book
const chaptersRes = await fetch(`${API_URL}/api/v1/chapters?book_id=${id}`);
data = await chaptersRes.json();
const chapters = data.chapters;
---

<Layout title="Book Name">
  <Fragment slot="extra-headers">
    <!-- Header Image -->
    <div
      class="relative flex w-full h-56 bg-gradient-to-b from-[#C4C4C4] to-transparent sm:h-80 transition-all"
    >
    </div>
    <h1 class="font-serif font-bold italic text-center text-2xl">
      {book.title_transliteration_english}
    </h1>
    <div class="flex justify-center">
      <p class="text-gray-800 my-9 text-center w-2/3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a arcu
        sed mauris feugiat luctus sit amet ut est.
      </p>
    </div>
  </Fragment>

  <ChapterPreview />

  <div class="flex my-16 lg:my-0 transition-all justify-center">
    <div class="lg:max-w-7xl">
      <h2 class="font-serif text-2xl">Chapters</h2>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        <!-- More about this Granth -->
        <div class="hidden lg:block">
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a
              arcu sed mauris feugiat luctus sit amet ut est.
            </p>
          </div>
        </div>
        <!-- Container for Chapter List -->
        <div class="mt-10 lg:mt-0">
          {
            chapters.map((chapter, i) => (
              <div class="flex space-x-2 border-black border-b-2 py-4 items-center justify-between">
                <div class="space-y-3 w-2/3">
                  <div class="flex items-baseline justify-between">
                    <p class="text-lg font-serif font-bold line-clamp-2 mr-5 cursor-pointer">
                      {chapter?.title_unicode}
                    </p>

                    <div class="ml-4 hidden">
                      <div
                        class="radial-progress text-[8px]"
                        style={{
                          "--value": 100 - i * 10,
                          "--size": "2rem",
                          "--thickness": "2px",
                        }}
                      >
                        {100 - i * 10}%
                      </div>
                    </div>
                  </div>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur ac orci ultricies, viverra tellus sit amet,
                    lobortis elit. Aliquam erat volutpat. Sed metus turpis,
                    rutrum eu varius non, bibendum quis libero. In vulputate.
                  </p>
                </div>
                <div class="bg-slate-300 h-32 w-28" />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
