---
import ChapterPreview from '../../components/ChapterPreview.svelte';
import Layout from '../../layouts/Layout.astro';
import ChapterRow from '../../components/ChapterRow.svelte';

const { id } = Astro.params;

export function getStaticPaths() {
  return [
    // Book IDs
    { params: { id: 1 } },
  ];
}

const API_URL = import.meta.env.API_URL;

// Fetch Chapters for the Book
const bookRes = await fetch(`${API_URL}/books/${id}.json`);
const { book } = await bookRes.json();

const chaptersRes = await fetch(`${API_URL}/books/${id}/chapters.json`);
const allChapters = await chaptersRes.json();
const chapters = allChapters.chapters.slice(0, 1);
---

<Layout title="Book Name">
  <Fragment slot="extra-headers">
    <!-- Header Image -->
    <div
      class="relative flex w-full h-56 bg-gradient-to-b from-[#C4C4C4] to-transparent sm:h-80 transition-all"
    >
    </div>
    <h1 class="font-serif font-bold italic text-center text-2xl">
      {book.enTitle}
    </h1>
    <div class="flex justify-center">
      <p class="text-gray-800 my-9 text-center w-2/3">
        At the moment, only the first chapter is available.
      </p>
    </div>
  </Fragment>

  <ChapterPreview client:load />

  <div class="flex my-16 lg:my-0 transition-all justify-center">
    <div class="lg:max-w-7xl">
      <h2 class="font-serif text-2xl">Chapters</h2>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        <!-- More about this Granth -->
        <div class="hidden lg:block">
          <div>
            <p>There are two parts to Nanak Prakash. This is the first!</p>
          </div>
        </div>
        <!-- Container for Chapter List -->
        <div class="mt-10 lg:mt-0">
          {
            chapters.map((chapter, i) => (
              <ChapterRow
                client:load
                chapter={chapter}
                bookName={book.enTitle}
                index={chapter.id}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
