---
import ChapterPreview from '../../components/ChapterPreview.svelte';
import Layout from '../../layouts/Layout.astro';
import ChapterRow from '../../components/ChapterRow.svelte';
import type { Book } from '../../types/appTypes';
import booksJSON from '../../components/books.json';

const { slug } = Astro.params;

export function getStaticPaths() {
  return [
    // Book IDs
    { params: { slug: 'nanak-prakash-purbardh' } },
    { params: { slug: 'raas-12' } },
    { params: { slug: 'rut-1' } },
    { params: { slug: 'rut-6' } },
  ];
}

const API_URL = import.meta.env.API_URL;

// Get Book ID from `slug` (We should probably save slug in the DB).
const id = booksJSON.find((book) => book.slug === slug).id;

// Fetch Chapters for the Book
const bookRes = await fetch(`${API_URL}/books/${id}.json`);
const book: Book = (await bookRes.json()).book;

const chaptersRes = await fetch(`${API_URL}/books/${id}/chapters.json`);
const allChapters = await chaptersRes.json();
const chapters = allChapters.chapters;
---

<Layout title="Book Name" includeNav={false}>
  <Fragment slot="extra-headers">
    <!-- 
      Navigation that tells you which BOOK you are on!
      * Home (Icon)
      * Book
      * book.enTitle
     -->
    <nav class="flex mb-8" aria-label="Breadcrumb">
      <ol role="list" class="flex items-center space-x-4">
        <li>
          <div>
            <a href="/" class="text-base-content hover:text-primary-focus">
              <svg
                class="h-5 w-5 flex-shrink-0"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Home</span>
            </a>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="h-5 w-5 flex-shrink-0 text-base-content"
              fill="currentColor"
              viewBox="0 0 20 20"
              aria-hidden="true"
            >
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
            </svg>
            <a
              href="/books"
              class="ml-4 text-sm font-medium text-base-content hover:text-primary-focus">Books</a
            >
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="h-5 w-5 flex-shrink-0 text-base-content"
              fill="currentColor"
              viewBox="0 0 20 20"
              aria-hidden="true"
            >
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
            </svg>
            <a
              href={`/books/${book.slug}`}
              class="ml-4 text-sm font-medium text-base-content hover:text-primary-focus"
              aria-current="page">{book.enTitle}</a
            >
          </div>
        </li>
      </ol>
    </nav>

    <!-- Header Image -->
    <div
      class="relative flex w-full h-56 bg-gradient-to-b from-primary to-transparent sm:h-80 transition-all"
    >
    </div>
    <h1 class="font-serif font-bold italic text-center text-2xl text-base-content">
      {book.enTitle}
    </h1>
    <div class="flex justify-center">
      <p class="text-base-content my-9 text-center w-2/3 text-xl">
        {book.enSynopsis}
      </p>
    </div>
  </Fragment>

  <ChapterPreview client:load />

  <div class="flex my-16 lg:my-0 transition-all justify-center">
    <div class="lg:max-w-7xl">
      <h2 class="font-serif text-2xl text-base-content">Chapters</h2>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        <div class="hidden lg:block mt-8">
          <div>
            <p class="text-base-content">
              <strong>{chapters.length}</strong> chapters available. More to come!
            </p>
          </div>
        </div>
        <div class="mt-10 lg:mt-0">
          {
            chapters.map((chapter) => (
              <ChapterRow client:load chapter={chapter} bookName={book.enTitle} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Layout>
