---
import Layout from '../../layouts/Layout.astro';
import type { Book } from '../../types/appTypes';

const API_URL = import.meta.env.API_URL;

// Fetch Chapters for the Book
const bookRes = await fetch(`${API_URL}/books.json`);
const books: [Book] = (await bookRes.json()).books;
---

<Layout title="All Books of the Suraj Prakash Granth">
  <Fragment slot="extra-headers">
    <div class="max-w-sm sm:max-w-full lg:max-w-7xl m-auto my-10 transition-all">
      <h1 class="font-serif text-3xl text-gray-900">All Books</h1>
      <p class="py-2">
        The <i>Suraj Prakash Granth</i> is composed of 22 pieces.
      </p>
    </div>
  </Fragment>

  <div
    class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8 lg:max-w-7xl m-auto"
  >
    {
      books.map((book) => (
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img
              src={book.artworkUrl}
              alt=""
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-4 flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href={`/books/${book.slug}`}>
                  <span aria-hidden="true" class="absolute inset-0" />
                  {book.enTitle}
                </a>
              </h3>
              <p class="mt-1 text-sm text-gray-500">
                {book.numberOfChaptersReleased} chapters available
              </p>
            </div>
            <p class="text-sm font-medium text-gray-900">{book.enShortSummary}</p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
